/* styles.css */
.send-button {
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-color: #4caf50;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.send-button:hover {
    -fx-background-color: #45a049;
}
